body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}
.home .classes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.builds .classes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 700px;
    margin: 0 auto;
}
header {
    background: #4CAF50;
    text-align: center;
    padding: 1rem;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.logo {
    width: 50px;
}
h2  {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #4CAF50;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
main {
    background: #2E2E2E;
    padding: 20px;
}
h1, h2, h3 {
    font-family: 'Press Start 2P', cursive;
}
header, footer {
    color: black;
}
.intro {
    padding: 1rem;
}
.classes {
    display: grid;
    gap: 20px;
    padding: 1rem;
}
.class {
    background: #3B7A57;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
}
.class img {
    width: 100%;
    max-width: 220px;
    border: 3px solid white;
}
footer {
    background: #4CAF50;
    text-align: center;
    padding: 1rem;
}
.search-area {
    text-align: center;
    margin: 15px 0;
}
#search-bar {
    padding: 10px;
    width: 60%;
    max-width: 400px;
}
#class-filter {
    padding: 10px;
    margin-left: 10px;
}
.social {
    gap: 10px;
}
.social img {
    width: 40px;
    height: 40px;
}

@media (min-width: 600px) {
    .home .classes {
        grid-template-columns: 1fr 1fr;
    }

    .builds .classes {
        grid-template-columns: 1fr;
    }
    .class {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }
    .class img {
        width: 220px;
    }
}